<div class = 'alert alert-info'>
  <p><strong>Markdown is allowed. Examples:</strong></p>
  <p>Here's a sentence with `a little bit of code` in it.</p>
  <p>Here's a code block (a blank line between text and the ticks is <strong>required</strong>):</p>
  <ul>
    <li>You can specify a language after three tickmarks and a space. If you don't, the default is Ruby.</li>
  </ul>
  <p>here's some text</p>
  <p>
  ``` JavaScript<br>
  thing = function() {<br>
  &nbsp;&nbsp;return "stuff"<br>
  }<br>
    ```
  </p>
  <p><strong>Of course, you can just leave a plain text comment!</strong></p>
</div>
