<div class = 'alert alert-info'>
  <p><strong>Markdown is allowed. Examples:</strong></p>
  <p>Here's a sentence with `a little bit of code` in it.</p>
  <p>Here's a code block - <strong>Two things (don't worry, you can edit afterward):</strong></p>
  <ul>
    <li>A code block must have a line break above it (just press "enter," no HTML necessary)</li>
    <li>You can specify a language after three tickmarks and a space. If you don't, the default is Ruby. Follow this example:</li>
  </ul>
  <p>-- don't forget to hit "enter" to create a line break here (no need for HTML) --</p>
  <p>
  ``` JavaScript<br>
  thing = function() {<br>
  &nbsp;&nbsp;return "stuff"<br>
  }<br>
    ```
  </p>
  <p><strong>Of course, you can just leave a plain text comment!</strong></p>
</div>
