<h3 align='center'>Welcome to my Junior Rubyist Blog! (version 1.0b)</h3>
<p>Hi! My name is Aaron Rohrbacher, and I'm Portland's 22nd-or-so newest junior web developer. I've built this blog in Ruby on Rails, with the intention of discussing some weird little things I've come across while continuing to learn how to program. May they help you immensely, or annoy the s#!+ out of you! <em>Either way, please feel free to leave a comment!</em></p>

<% @posts.each do |post| %>

  <h2><%= link_to post.title, post_path(post) %></h2>
  <p><%= post.description %></p>

<% end %>
