<% content_for(:title, 'Home') %>

<div class="jumbotron">
  <h3 align='center'>Welcome to my Junior Rubyist Blog!</h3>
  <p>Hi! My name is Aaron Rohrbacher, and I'm Portland's 22nd-or-so newest junior web developer. I've built this blog in Ruby on Rails, with the intention of discussing some weird little things I've come across while continuing to learn how to program. May they help you immensely, or annoy the s#!+ out of you! <em>Either way, please feel free to leave a comment!</em> I'm here to continue my learning adventure, without a finish line.</p>
</div>

<p>If you'd like to make this site look prettier, please do! This is an open source project: <%= link_to 'https://github.com/AaronRohrbacher/aaron', 'https://github.com/AaronRohrbacher/aaron', target: '_blank' %>

<hr>
<div class="row">
<% @posts.each do |post| %>
<div class = "col-md-4">
  <div class = "card cardFront">
    <div class = "heading">
      <h2><%= link_to post.title, post_path(post) %></h2>
      <hr>
    </div>
    <p><em><%= post.created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y')%></em></p>
      <p><strong><%= post.description %></strong></p>
  </div>
</div>
<% end %>
</div>
