<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <title>Aaron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = 'header'>
      <div class = 'headerContent'>
        <h1><strong>Aaron Rohrbacher</strong></h1>
        <h3>Web Developer</h3>
        <p>Portland, Oregon | (541) 848-2303 | aaron@aaronrohrbacher.com</p>
      </div>

    </div>
    <%= yield %>
  </body>
</html>
